.Twin-kle {
  color: rgba(54, 0, 29, 0.219);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
  color: black;
  background-color:white;
}

h1 {
  color: black;
  background-color:white;
}

*{

} 
label{
  color: rgb(0, 0, 0)
}

body {
  margin: 0;
  padding: 0;
}

.create_poll {
  background: #ffffff;
  padding: 13px 26px;
  -webkit-border-radius: 30px;
  color: #000000;
  font-size: 24px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle;
}
.create_poll:hover {
  background: #979797;
}
.H1_of_app.js {
  font-family: helvetica, serif;
}