.Twin-kle {
  color: rgba(54, 0, 29, 0.219);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
  color: rgb(74, 212, 247);
}

h1 {
  color: rgb(230, 0, 255);
}
