.Twin-kle {
  color: rgba(54, 0, 29, 0.219);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
  color: black
}

h1 {
  color: black
}

*{
  background-color: white
}
label{
  color: rgb(0, 0, 0)
}