head{
  margin: 1;
  font-family: fantasy;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(./vote.jpg) ;
  background-repeat: no-repeat;
  background-size: 1536px 864px;
}
